
    <!-- Intro Wrapper -->
      <div id="intro-wrapper" class="wrapper wrapper-style1">
        <div class="title">Introduction</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Intro -->
                <section id="intro">
                  <p class="style1">We're just getting ready... </p>
                  <p class="style2">
                    Check back soon for for more.
                  </p>
                  <p class="style1">... or RSVP and see the registry today.</p>

                  <!--
                  <p class="style3">It's <strong>responsive</strong>, built on <strong>HTML5</strong> and <strong>CSS3</strong>, and released for
                  free under the <a href="http://html5up.net/license/">Creative Commons Attribution 3.0 license</a>, so use it for any of
                  your personal or commercial projects &ndash; just be sure to credit us!</p>
                  
                  <p class="style3">Mauris tellus lacus, tincidunt eget mattis at, laoreet vel velit. 
                  Aliquam diam ante, aliquet sit amet vulputate lorem at placerat at nisl. 
                  Maecenas et gravida ligula sed lacus euismod tincidunt nullam eget justo orci.</p>
                  <ul class="actions">
                    <li><a href="#" class="button button-style3 button-big">Proceed</a></li>
                  </ul>
                </section>
                  -->
              <!-- /Intro -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Intro Wrapper -->

    <!-- Main Wrapper -->
      <div class="wrapper wrapper-style3">
        <a name="rsvp"></a>
        <div class="title">RSVP</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Main -->
                <div id="main">
                  
                  <!-- RSVP -->
                    <section id="features">
                      <header class="style1">
                      <iframe src="https://docs.google.com/forms/d/1itEU_GamamNxDdYmBELVdjue81pq9qwi9iFc4uilX4c/viewform?embedded=true" width="500" height="850" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                      </header>
                    </section>
                  <!-- /RSVP -->
                  
                </div>
              <!-- /Main -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Main Wrapper -->
  
  

    <!-- Main Wrapper -->
      <div class="wrapper wrapper-style2">
        <a name="gifts"></a>
        <div class="title">Gifts</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Main -->
                <div id="main">
                  
                  <!-- RSVP -->
                    <section id="intro">
                      <p class="style3" style="padding-left: 5%; padding-right: 5%;">
                        The most important thing to us is to celebrate with you. We know that for some people giving a gift is a part of this. So we've put together a list of suggestions, feel free to be creative if you want to be.  We especially appreciate contributions to our honeymoon, and if you choose one of these we'll even send you a postcard when we make it there!
                      </p>
                      <br />
                      <p class="style3" style="padding-left: 5%; padding-right: 5%;">
                        <a href="http://yourweddingpresents.com/authentication/guest_logged_in?guest_login[surname]=bucknall&guest_login[wedding_date(2i)]=3&guest_login[wedding_date(1i)]=2014">Find our registry here</a>
                      </p>
                    </section>
                  <!-- /RSVP -->
                  
                </div>
              <!-- /Main -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Main Wrapper -->
  
  
