
    <!-- Intro Wrapper -->
      <div id="intro-wrapper" class="wrapper wrapper-style1">
        <div class="title">Introduction</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Intro -->
                <section id="intro">
                  <p class="style1">We're just getting ready ...</p>
                  <p class="style2">
                    Check back soon for for more.
                  </p>
                  <!--
                  <p class="style3">It's <strong>responsive</strong>, built on <strong>HTML5</strong> and <strong>CSS3</strong>, and released for
                  free under the <a href="http://html5up.net/license/">Creative Commons Attribution 3.0 license</a>, so use it for any of
                  your personal or commercial projects &ndash; just be sure to credit us!</p>
                  
                  <p class="style3">Mauris tellus lacus, tincidunt eget mattis at, laoreet vel velit. 
                  Aliquam diam ante, aliquet sit amet vulputate lorem at placerat at nisl. 
                  Maecenas et gravida ligula sed lacus euismod tincidunt nullam eget justo orci.</p>
                  <ul class="actions">
                    <li><a href="#" class="button button-style3 button-big">Proceed</a></li>
                  </ul>
                </section>
                  -->
              <!-- /Intro -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Intro Wrapper -->

    <!-- Main Wrapper -->
      <div class="wrapper wrapper-style3">
        <a name="rsvp"></a>
        <div class="title">RSVP</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Main -->
                <div id="main">
                  
                  <!-- RSVP -->
                    <section id="features">
                      <header class="style1">
                      <iframe src="https://docs.google.com/forms/d/1itEU_GamamNxDdYmBELVdjue81pq9qwi9iFc4uilX4c/viewform?embedded=true" width="500" height="850" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                      </header>
                    </section>
                  <!-- /RSVP -->
                  
                </div>
              <!-- /Main -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Main Wrapper -->
  
    <!-- Main Wrapper -->
      <div class="wrapper wrapper-style2">
        <a name="info"></a>
        <!-- Features -->
          <section id="features">
            <header class="style1">
              <h2>Dolor consequat feugiat amet veroeros</h2>
              <p class="byline">Feugiat dolor nullam orci pretium phasellus justo</p>
            </header>
            <div class="feature-list">
              <div>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-where">Where</h3>
                      <p><a href="http://goo.gl/maps/lczIS">187-189 Canterbury Rd, Blackburn</a></p>
                    </section>
                  </div>
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-when">When</h3>
                      <p>4pm on the 22nd of March</p>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-food">Food</h3>
                      <p>We'll be eating a casual buffet dinner. On picnic blankets.</p>
                    </section>
                  </div>
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-dress">Dress</h3>
                      <p>Dress smart, but you can leave your tie at home. We'll be outside and it could be cold, so bring a jacket. <a href="http://www.youtube.com/watch?v=7QLSRMoKKS0">It's not Haiti.</a></p>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-wrench">Getting There</h3>
                      <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                    </section>
                  </div>
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-check">What to bring</h3>
                      <p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <ul class="actions actions-centered">
              <li><a href="#" class="button button-style1 button-big">Get Started</a></li>
              <li><a href="#" class="button button-style2 button-big">More Info</a></li>
            </ul>
          </section>
        <!-- /Features -->
      </div>
    <!-- /Main Wrapper -->
  
  
  
