
    <!-- Intro Wrapper -->
      <div id="intro-wrapper" class="wrapper wrapper-style1">
        <div class="title">Introduction</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Intro -->
                <section id="intro">
				  <p class="style1">So in case you were wondering what this is all about ...</p>
                  <p class="style2">Erin and Rachel are having a wedding!</p>
                  <p class="style1">
                    We hope that this website will give you with all the information you need as you make plans to attend our wedding.  If any of your questions remain unanswered, please <a href="mailto:chelimailer@gmail.com">contact us</a>!</p>
                  <p class="style1">We'd like to thank our hosts, Daryl and Julie Hawkey for so very kindly allowing us to celebrate in their garden. They want you know that you're welcome to come and enjoy yourselves!
                  </p>

                  <!--
                  <p class="style3">It's <strong>responsive</strong>, built on <strong>HTML5</strong> and <strong>CSS3</strong>, and released for
                  free under the <a href="http://html5up.net/license/">Creative Commons Attribution 3.0 license</a>, so use it for any of
                  your personal or commercial projects &ndash; just be sure to credit us!</p>
                  
                  <p class="style3">Mauris tellus lacus, tincidunt eget mattis at, laoreet vel velit. 
                  Aliquam diam ante, aliquet sit amet vulputate lorem at placerat at nisl. 
                  Maecenas et gravida ligula sed lacus euismod tincidunt nullam eget justo orci.</p>
                  <ul class="actions">
                    <li><a href="#" class="button button-style3 button-big">Proceed</a></li>
                  </ul>
                </section>
                  -->
              <!-- /Intro -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Intro Wrapper -->

    <!-- Main Wrapper -->
      <div class="wrapper wrapper-style3">
        <a name="rsvp"></a>
        <div class="title">RSVP</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Main -->
                <div id="main">
                  
                  <!-- RSVP -->
                    <section id="features">
                      <header class="style1">
                      <iframe src="https://docs.google.com/forms/d/1itEU_GamamNxDdYmBELVdjue81pq9qwi9iFc4uilX4c/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                      </header>
                    </section>
                  <!-- /RSVP -->
                  
                </div>
              <!-- /Main -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Main Wrapper -->
  
    <!-- Main Wrapper -->
      <div class="wrapper wrapper-style2">
        <a name="info"></a>
        <!-- Features -->
          <section id="features">
            <header class="style1">
              <h2>What you need to know</h2>
              <p class="byline">Feugiat dolor nullam orci pretium phasellus justo</p>
            </header>
            <div class="feature-list">
              <a name="info"></a>
              <div>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-where">Where</h3>
                      <p>In the garden of <a href="http://goo.gl/maps/lczIS">187-189 Canterbury Rd, Blackburn</a>. The ceremony and the celebration afterwards will be in the same location.</p>
                    </section>
                  </div>
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-when">When</h3>
                      <p>From 4pm till late on the 22nd of March. We plan to party as long as our feet hold us up, so please don't feel obliged to stay if your bed is calling :)</p>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-food">Food</h3>
                      <p>We'll be eating a casual buffet dinner. It's so casual that we'd love it if you brought a picnic blanket to lounge on!</p>
                    </section>
                  </div>
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-dress">Dress</h3>
                      <p>Festive frocks and jolly jackets translates to 'leisure suit'. But we didn't really know what that meant and we don't expect you to either. Dress smart but doesn't need to come with you. We'll be outside and it could be cold, so wear shoes suitable for standing on grass and bring a jacket. <a href="http://www.youtube.com/watch?v=7QLSRMoKKS0">It's not Haiti.</a></p>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-wrench">Getting There</h3>
                      <p><strong>By public transport:</strong> We recommend traveling to Blackburn train station (check <a href="http://www.ptv.vic.gov.au">Public Transport Victoria</a> for details). We will be organising a shuttle service between the station to the venue, please let us know if you'd like a lift when you RSVP.</p>
                      <p><strong>By car:</strong> Melways reference 61 B1. While Canterbury Road is available for parking, our hosts have recommended nearby Lagoona Court, Vernon Street and Masons Road as quieter places to leave your car.</p>
                    </section>
                  </div>
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-check">What to bring</h3>
                      <p>This is an outdoor event, so please bring shoes suitable for standing on grass, a jacket to keep you warm and an umbrella to protect you from rain or hot weather (this is Melbourne after all!) Please bring a picnic blanket if you have one, so you can relax in the gardens.</p>
                    </section>
                  </div>
                </div>
                <a name="gifts"></a>
                <div class="row">
                  <div class="6u">
                    <section>
                      <h3 class="fa fa-wrench">Gifts</h3>
                      <p class="style3">
                        The most important thing to us is to celebrate with you. We know that for some people giving a gift is a part of this. So we've put together a list of suggestions, feel free to be creative if you want to be.  We especially appreciate contributions to our honeymoon, and if you choose one of these we'll even send you a postcard when we make it there!
                      </p>
                      <br />
                      <p class="style3">
                        <a href="http://yourweddingpresents.com/authentication/guest_logged_in?guest_login[surname]=bucknall&guest_login[wedding_date(2i)]=3&guest_login[wedding_date(1i)]=2014">Find our registry here</a>
                      </p>
                      </section>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!-- /Features -->
      </div>
    <!-- /Main Wrapper -->
  
  
